<ion-view title="Accounts">
  <ion-content padding="true">
    <div class="row responsive-md">
      <div class="col col-50 col-offset-25">
        <p>Select one the following accounts to initialize test data</p>
        <div class="list">
          <div class="item" ng-repeat='account in accounts' ng-click="accountDetails({{account.id}})">
            <h2>Name: {{account.name}}<h2>
            <h4>IBAN: {{account.IBAN}} (Balance: {{account.balance}})</h4>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
