<ion-view title="Payees">
  <ion-content padding="true">
    <div class="row responsive-md">
      <div class="col col-50 col-offset-25">
        <div class="panel">

          <!-- Search -->
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" ng-model="qry" placeholder="Search for payees...">
            </label>
          </div>

          <div class="list">
            <div ng-repeat='payee in payees | filter: qry'>

              <!-- Payee Name -->
              <div class="item item-button-right"
                      ng-click="toggleDetails(payee)"
                      ng-class="{active: isSelected(payee)}">
                <i class="icon" ng-class="isSelected(payee) ? 'ion-minus' : 'ion-plus'"></i>
                <span>{{payee.name}}</span>
                <button class="button button-clear button-assertive" ng-click="deletePayee(payee.id, $event)">
                  <i class="icon ion-trash-b"></i>
                </button>
              </div>

              <!-- Hidden Details -->
              <div class="item item-accordion" ng-show="isSelected(payee)">
                <div class="row responsive-md">
                  <div class="col col-50">
                    <h2>Bank: {{payee.bank}}</h2>
                  </div>
                  <div class="col col-50">
                    <h2>IBAN: {{payee.IBAN}}</h2>
                  </div>
                </div>
              </div>
            </div>

            <!-- Empty List Warning -->
            <div ng-show="payees.length===0">
              <p>No results found. You must create new payees.</p>
            </div>
          </div>
          <!-- Create New Payee -->
          <button ng-click="newPayeeModal.show()" class="button button-royal">Create Payee</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<!-- New Payee -->
<script id="new_payee.html" type="text/ng-template">
<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">New Payee</h1>
		<button class="button button-clear button-primary icon ion-close" ng-click="newPayeeModal.hide()"></button>
	</ion-header-bar>
	<ion-content class="padding">
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
  		<div class="list">
  			<label class="item item-input" ng-class="{'field-error': submitted && userForm.payeeName.$invalid }">
  				<span class="input-label">Name</span>
  				<input ng-model="newPayee.name" type="text" name="payeeName" placeholder="Payee Name" required ng-minlength="2">
  			</label>
  			<label class="item item-input"ng-class="{'field-error': submitted && userForm.payeeBank.$invalid }">
  				<span class="input-label">Bank</span>
  				<input ng-model="newPayee.bank" type="text" name="payeeBank" placeholder="Payee Bank Name" required ng-minlength="2">
  			</label>
        <label class="item item-input" ng-class="{'field-error': submitted && userForm.payeeIBAN.$invalid }">
          <span class="input-label">IBAN</span>
          <input ng-model="newPayee.IBAN" type="text" name="payeeIBAN" placeholder="Payee IBAN" required ng-minlength="21" ng-maxlength="21">
        </label>
  		</div>

      <ul class="form-errors">
        <li ng-show="submitted && userForm.payeeName.$error.minlength">Payee Name Must Be At Least 2 Characters Long</li>
        <li ng-show="submitted && userForm.payeeName.$error.required">Payee Name Is Required</li>
        <li ng-show="submitted && userForm.payeeBank.$error.minlength">Bank Name Must Be At Least 2 Characters Long</li>
        <li ng-show="submitted && userForm.payeeBank.$error.required">Bank Name Is Required</li>
        <li ng-show="submitted && (userForm.payeeIBAN.$error.minlength || userForm.payeeIBAN.$error.maxlength)">IBAN Must have 21 Characters</li>
        <li ng-show="submitted && userForm.payeeIBAN.$error.required">IBAN Is Required</li>
      </ul>
  		<button class="button  button-royal" ng-click="submitForm()">Submit</button>
    </form>
	</ion-content>
</ion-modal-view>
</script>
