<ion-view title="Payments">
  <ion-content padding="true">
    <div class="row responsive-md">
      <div class="col col-50 col-offset-25">
        <div class="list">
          <div class="item item-button-right" ng-repeat='payment in payments'>
            <h2>To: {{payment.payee.name}}</h2>
            <h4>Amount: {{payment.amount}}</h4>
            <h4>Date: {{payment.date}}</h4>
          </div>
          <div class="item" ng-show="payments.length===0">
            <p>This list is empty</p>
          </div>
          <!-- Make New Payment -->
          <div class="item">
            <button ng-click="newPaymentModal.show()" class="button button-positive icon icon-left ion-plus">Make Payment</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<!-- Make Payment -->
<script id="new_payment.html" type="text/ng-template">
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Make Payment</h1>
    <button class="button button-clear button-primary icon ion-close" ng-click="newPaymentModal.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="userForm"ng-submit="submitForm(userForm.$valid)" novalidate>
      <div class="list">
        <label class="item item-input item-select" ng-class="{'field-error': submitted && userForm.payee.$invalid }">
          <div class="input-label">To</div>
          <select ng-model="newPayment.payee" name="payee" ng-options="payee.id as payee.name for payee in payees" required>
          </select>
        </label>
        <label class="item item-input" ng-class="{'field-error': submitted && userForm.amount.$invalid }">
          <span class="input-label">Amount</span>
          <input ng-model="newPayment.amount" type="text" name="amount" placeholder="Amount" ng-pattern="/^(0|[1-9][0-9]*)$/" required>
        </label>
        <label class="item item-input" ng-class="{'field-error': submitted && userForm.date.$invalid }">
          <span class="input-label">Date</span>
          <input ng-model="newPayment.date" type="date" name="date" placeholder="Date" required>
        </label>
      </div>
      <ul class="form-errors">
        <li ng-show="submitted && userForm.payee.$error.required">Payee is Required</li>
        <li ng-show="submitted && userForm.amount.$error.pattern">Amount must be a positive number</li>
        <li ng-show="submitted && userForm.amount.$error.required">Amount Is Required</li>
        <li ng-show="submitted && userForm.date.$error.required">Date Is Required</li>
      </ul>
      <button class="button button-positive" ng-click="submitForm()">Submit</button>
    </form>
  </ion-content>
</ion-modal-view>
</script>
